aiohttp==3.5.4
aionotify==0.2.0
anytree==2.6.0
apipkg==1.5
appdirs==1.4.3
arandr==0.1.10
arrow==0.13.1
asn1crypto==0.24.0
astroid==2.2.5
async-generator==1.10
async-timeout==3.0.1
atomicwrites==1.3.0
attrs==19.1.0
backcall==0.1.0
backports.csv==1.0.7
bcrypt==3.1.6
Beaker==1.10.1
beautifulsoup4==4.7.1
bleach==3.1.0
btrfsutil==1.1.1
CacheControl==0.12.5
cached-property==1.5.1
certifi==2019.3.9
cffi==1.12.3
chardet==3.0.4
cli-helpers==1.2.0
Click==7.0
click-log==0.3.2
click-threading==0.4.4
cloudpickle==0.8.1
colorama==0.4.1
colored==1.3.93
configobj==5.0.6
coverage==4.5.3
cryptography==2.6.1
cycler==0.10.0
Cython==0.29.10
decorator==4.4.0
defusedxml==0.6.0
distlib==0.2.9
distro==1.4.0
Django==2.2.1
docker==4.0.1
docker-compose==1.24.0
docker-pycreds==0.4.0
dockerpty==0.4.1
docopt==0.6.2
docutils==0.14
doit==0.31.1
emoji==0.5.2
entrypoints==0.3
filelock==3.0.12
flake8==3.7.7
Flask==1.0.3
gmpy2==2.1.0b1
greenlet==0.4.15
gunicorn==19.9.0
html5lib==1.0.1
httpie==1.0.2
humanize==0.5.1
hypothesis==4.24.0
idna==2.8
idna-ssl==1.1.0
imageio==2.3.0
iniconfig==1.0.0
ipdb==0.12
ipykernel==5.1.0
ipython==7.5.0
ipython-genutils==0.1.0
ipywidgets==7.4.2
isc==2.0
isort==4.3.4
itsdangerous==1.1.0
jedi==0.13.3
Jinja2==2.10.1
jsonpickle==1.2
jsonschema==2.6.0
jupyter==1.0.0
jupyter-client==5.2.4
jupyter-console==6.0.0
jupyter-core==4.4.0
jupyterlab==0.35.6
jupyterlab-server==0.3.3
khard==0.13.0
kiwisolver==1.1.0
lazy-object-proxy==1.4.1
lensfun==0.3.2
libvirt-python==5.0.0
lit==0.8.0.dev0
litecli==1.0.0
lockfile==0.12.2
louis==3.9.0
lxml==4.3.3
Mako==1.0.11
Markdown==3.1.1
MarkupSafe==1.1.1
matplotlib==3.1.0
mccabe==0.6.1
mistune==0.8.4
mock==3.0.5
more-itertools==4.3.0
mpmath==1.1.0
msgpack==0.6.1
multidict==4.5.2
muttils==1.3+18.387c22038a37
mypy==0.701
mypy-extensions==0.4.1
nbconvert==5.4.0
nbformat==4.4.0
NeuroTools==0.3.1
nose==1.3.7
notebook==5.7.8
numpy==1.16.4
olefile==0.46
packaging==19.0
pandas==0.24.2
pandocfilters==1.4.2
paramiko==2.4.2
parso==0.4.0
pbr==5.2.1
peewee==3.9.5
pep517==0.5.0
perf==1.6.0
pew==1.2.0
pexpect==4.7.0
pgxnclient==1.2.1
pickleshare==0.7.5
pikaur==1.4.3
Pillow==6.0.0
pipenv==2018.11.15.dev0
pluggy==0.11.0
ply==3.11
pocket==0.3.6
progress==1.5
prometheus-client==0.6.0
prompt-toolkit==2.0.9
psutil==5.6.2
ptyprocess==0.6.0
pudb==2019.1
py==1.8.0
pyalpm==0.8.5
pyasn1==0.4.5
pycairo==1.18.1
pycodestyle==2.5.0
pycosat==0.6.3
pycparser==2.19
pyenchant==2.0.0
pyfiglet==0.8.post0
pyflakes==2.1.1
Pygments==2.4.2
PyGObject==3.32.1
pyinotify==0.9.6
pylint==2.3.1
PyNaCl==1.3.0
pynvim==0.3.2
pyparsing==2.4.0
PyQt5==5.12.2
PyQt5-sip==4.19.17
PySocks==1.6.8
pytest==4.4.2
pytest-asyncio==0.10.0
python-dateutil==2.8.0
python-digitalocean==1.14.0
python-Levenshtein==0.12.0
python-libtorrent==1.1.12
pytoml==0.1.20
pytz==2019.1
PyYAML==3.13
pyzmq==18.0.1
qtconsole==4.3.1
regex==2019.6.2
requests==2.22.0
requests-toolbelt==0.9.1
retrying==1.3.3
rise==5.4.1
ruamel.yaml==0.15.96
scikit-learn==0.20.3
scipy==1.3.0
seaborn==0.9.0
Send2Trash==1.5.0
simplegeneric==0.8.1
sip==4.19.17
six==1.12.0
slip==0.6.5
slip.dbus==0.6.5
soupsieve==1.9.1
SQLAlchemy==1.3.4
sqlparse==0.2.4
sympy==1.4
tabulate==0.8.3
termcolor==1.1.0
terminado==0.8.1
terminaltables==3.1.0
testpath==0.4.2
texttable==1.6.1
tldr==0.4.4
toml==0.10.0
tornado==5.1.1
tox==3.12.1
tqdm==4.28.1
traitlets==4.3.2
typed-ast==1.3.5
typing==3.6.4
Unidecode==1.0.23
urllib3==1.25.3
urlscan==0.9.2
urwid==2.0.1
vdirsyncer==0.16.7
vimiv==0.9.1
virtualenv==16.1.0
virtualenv-clone==0.5.3
vobject==0.9.6.1
wcwidth==0.1.7
webencodings==0.5.1
websocket-client==0.56.0
Werkzeug==0.15.2
widgetsnbextension==3.4.2
wrapt==1.11.1
yarl==1.3.0
youtube-dl==2019.5.20
